@import "config/fonts";
@import "config/config";
@import "icon/pizzasta/style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Oswald", sans-serif;
}

body {
  min-height: 100vh;
  padding: 1.5rem;
  position: relative;
}

.main-container {
  min-height: calc(100vh - 1.5rem * 2);
  width: 100%;
  display: flex;
  // border: 2px solid red;
}

h1,
h2,
h3 {
  color: $color-2nd;
  span {
    color: $color-3rd;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@import "Layout/nav-menu";
@import "Layout/main-content";
@import "Layout/modal-menu";
@import "layout/modal-cart";
@import "responsive/responsive";
