@include media-1200 {
  .nav {
    gap: 1em;
    padding: 2em;

    &-brand {
      font-size: 1.5em;
    }

    &-menu {
      li {
        // border: 2px solid red;
        border-radius: 1em;
        margin-bottom: 0;
        text-align: center;

        a {
          @include flex(column);
          gap: 8px;
          padding: 1em;
          font-size: 1em;
        }
      }
    }
  }
}
