$icomoon-font-family: "pizzasta" !default;
$icomoon-font-path: "fonts" !default;

$pzs-all: "\e900";
$pzs-chicken: "\e901";
$pzs-french-fries: "\e902";
$pzs-hamburger: "\e903";
$pzs-noodles: "\e904";
$pzs-pizza: "\e905";
$pzs-sushi: "\e906";
