#modal-menu {
  padding: 1.5rem;
}

.modal-menu-container {
  max-width: 660px;
  margin: 12vh auto;
  background-color: $color-gray;
  padding: 1rem 1.5rem;
  box-shadow: $black-boxshadow;
  border-radius: 1rem;
  z-index: 5;
  animation: popUpCart 300ms;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .modal-title {
    font-size: 1.25rem;
    @include flex($justify: space-between);

    .modal-menu-close {
      color: $color-darken-gray;
      cursor: pointer;
      @include ease();
  
      &:hover {
        color: $color-1st;
      }
    }
  }

  .modal-body {
    font-size: 1rem;
  }

  .modal-footer {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

