@include media-400 {
  body {
    padding: 12px;
  }

  .header-top {
    height: 40px;
    .users {
      .user {
        .img-profile {
          width: 30px;
          height: 30px;
        }
        .user-name {
          display: none;
        }
      }

      .cart {
        width: 40px;
        border-radius: 50%;

        i {
          font-size: 1em;
        }

        &::after {
          font-size: 0.5rem;
          padding: 2px 6px;
        }
      }
    }
  }

  .header-main {
    .title {
      .header-brand {
        font-size: 3em;
        line-height: 28px;
        margin-top: -4px;
      }

      .tagline {
        display: none;
      }
    }
  }

  //   .content {
  //     .menu {
  //       .menu-name {
  //       }
  //     }
  //   }
}
