@include media-1028 {
  body {
    padding: 1.2em;
  }

  @import "../../Layout/nav-menu";

  .header-top {
    .search {
      display: none;
    }
  }

  .header-main {
    .title {
      font-size: 1.5em;
    }

    .header-img {
      width: 180px;
      height: 225px;
    }
  }

  .menu-search {
    display: block;
    height: 48px;
    // border: 2px solid red;
    @include search($padding: 12px 24px);
  }

  // .menu-more {
  //   // display: flex;
  // }

  .content {
    gap: 1em;

    .menu {
      padding: 0.8em 12px 3em;
      overflow: hidden;

      .menu-img {
        width: 64px;
        height: 64px;
      }

      .menu-name {
        margin-top: 0.4em;
      }

      .add-cart {
        position: absolute;
        border-radius: 0;
        width: 100%;
        transform: translateY(0);
        clip-path: circle(100%);
      }

      .menu-qty {
        transform: translateY(0);
        width: 100%;
        justify-content: center;

        // .qty-min {
        //   // border-radius: 0;
        // }
        // .qty-plus {
        //   // border-radius: 0;
        // }

        // .input-qty {
        //   // max-width: 72px;
        // }
      }

      &:hover {
        .menu-img {
          transform: rotate(0);
        }
      }
    }
  }

  .modal-container {
    min-width: 100%;
    border-radius: 2em 2em 0 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    animation: cartMobile 300ms;
  }
}
