@include media-1080 {
  .container {
    .header-top {
      //   border: 2px solid red;

      .search {
        // border: 2px solid red;
        padding: 24px;
        @include ease();

        input {
          width: 0;
          @include ease();

          &:focus {
            width: 240px;
          }
        }

        &:hover {
          input {
            width: 240px;
          }
        }
      }
    }
  }
}
