@include media-860 {
  body {
    padding: 1em;
  }

  .header-main {
    //   border: 2px solid red;
    background-color: $color-1st;
    padding: 1.5em;
    width: 100%;
    border-radius: 2em;
    @include flex();

    .title {
      margin: auto;
      font-size: 1em;
      text-align: center;
      // border: 2px solid red;
      line-height: normal;

      .header-brand {
        margin-top: -20px;
        //   line-height: 0;
        //   border: 2px solid red;
        display: block;
        font-size: 3em;
      }

      .tagline {
        //   border: 2px solid red;
        @include flex();
        gap: 0.6em;

        h1 {
          color: white;
          span {
            color: white;
          }
        }
      }
    }

    .header-img {
      display: none;
    }
  }
}

@include media-600 {
  .header-main {
    padding: 1em;

    .title {
      font-size: 12px;

      .header-brand {
        font-size: 3em;
        margin-top: -12px;
      }
    }
  }
}
